@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("/painting-mountain-lake-with-mountain-background_188544-9126.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
  background: #555;
}

::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: #121212;
}

::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(red,blue);
}